# ============================================================
# 以下配置为原生 .env.example 中的部分配置
# ============================================================

# CNPMCORE_DATABASE_TYPE=MySQL
# CNPMCORE_DATABASE_USER=root
# CNPMCORE_DATABASE_PASSWORD=
# CNPMCORE_DATABASE_NAME=cnpmcore

# CNPMCORE_DATABASE_TYPE=PostgreSQL
# CNPMCORE_DATABASE_USER=postgres
# CNPMCORE_DATABASE_PASSWORD=postgres
# CNPMCORE_DATABASE_NAME=cnpmcore

# CNPMCORE_CONFIG_ENABLE_ES=true
# CNPMCORE_CONFIG_ES_CLIENT_NODE=http://localhost:9200
# CNPMCORE_CONFIG_ES_CLIENT_AUTH_USERNAME=elastic
# CNPMCORE_CONFIG_ES_CLIENT_AUTH_PASSWORD=abcdef

# https://github.com/cnpm/cnpmcore/blob/next/docs/elasticsearch-setup.md#%E6%96%B0%E5%BB%BA-env-%E6%96%87%E4%BB%B6
# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD="abcdef"

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD="abcdef"

# Version of Elastic products
STACK_VERSION=8.7.1
# enable for arm64
# STACK_VERSION_ARM64=-arm64
# STACK_PLATFORM=linux/arm64

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200
#ES_PORT=127.0.0.1:9200

# Port to expose Kibana to the host
KIBANA_PORT=5601
#KIBANA_PORT=80

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824

# SAMPLE Predefined Key only to be used in POC environments
ENCRYPTION_KEY=c34d38b3a14956121ff2170e5030b471551370178f43e5626eec58b04a30fae2

# ============================================================
# 以下配置为自定义配置
# ============================================================


# ============================================================
# 数据挂载配置(本机的位置)
# ============================================================
CNPMCORE_STORAGE=../.cnpmcore
REDIS_STORAGE=${CNPMCORE_STORAGE}/redis
MYSQL_STORAGE=${CNPMCORE_STORAGE}/mysql

# ============================================================
# 公共配置
# ============================================================
TZ=Asia/Shanghai

# ============================================================
# docker-compose-db.yml 配置
# 注意：
#     为防止与其它服务端口冲突，需要修改以下配置：
# redis 端口号: 6379 -> 7379
# mysql 端口号: 3306 -> 7306
# ============================================================
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_DB=0

MYSQL_DATABASE=cnpmcore
MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_ROOT_PASSWORD='qwe123!@#'
MYSQL_INITDB_SCRIPT=../sql/mysql

# 对外导出端口号
EXPOSE_REDIS_PORT=7379
EXPOSE_MYSQL_PORT=7306

# ============================================================
# docker-compose-web.yml 配置
# 注意：
#     由于 docker-compose 中使用了 cnpmcore-db 的网络
#     Host 为 cnpmcore-db 中的服务名称，所以需要修改以下配置：
# CNPMCORE_DATABASE_PORT 端口号修改为默认的 3306
# CNPMCORE_REDIS_PORT 端口号修改为默认的 6379
# ============================================================

# web 容器镜像版本
APP_VERSION=4.8.0

# web 容器暴露的端口
EXPOSE_PORT=7001

# 项目配置
CNPMCORE_CONFIG_SOURCE_REGISTRY=https://registry.npmmirror.com
CNPMCORE_CONFIG_SOURCE_REGISTRY_IS_CNPM=true
CNPMCORE_CONFIG_REGISTRY=http://127.0.0.1:${EXPOSE_PORT}
CNPMCORE_CONFIG_ENABLE_WEB_AUTHN=true

# 数据库配置
CNPMCORE_DATABASE_TYPE=MySQL
CNPMCORE_DATABASE_NAME=${MYSQL_DATABASE}
CNPMCORE_DATABASE_HOST=${MYSQL_HOST}
CNPMCORE_DATABASE_PORT=3306
CNPMCORE_DATABASE_USER=${MYSQL_USER}
CNPMCORE_DATABASE_PASSWORD=${MYSQL_ROOT_PASSWORD}

# REDIS 配置
CNPMCORE_REDIS_HOST=${REDIS_HOST}
CNPMCORE_REDIS_PORT=6379
CNPMCORE_REDIS_PASSWORD=${REDIS_PASSWORD}
CNPMCORE_REDIS_DB=${REDIS_DB}

# 数据目录(web项目所在的服务器的目录)
CNPMCORE_DATA_DIR=/opt/cnpmcore

# 日志目录(web项目所在的服务器的目录)
CNPMCORE_LOG_DIR=/opt/cnpmcore/logs

# NFS 配置 type=oss 阿里云 OSS 存储, type=local 本地存储
CNPMCORE_NFS_TYPE=local
CNPMCORE_NFS_DIR=/opt/cnpmcore/nfs

# 阿里云 OSS 配置
CNPMCORE_NFS_OSS_ENDPOINT=
CNPMCORE_NFS_OSS_BUCKET=
CNPMCORE_NFS_OSS_ID=
CNPMCORE_NFS_OSS_SECRET=